:root {
    --eco-background: #45AB21;
    --widget-background-color: var(--e-global-color-4b52a7c);
    --text-color: inherit;
    --additional-text-color: inherit;
}

.dark-mode {
    --eco-background: #45AB21;
    --widget-background-color: #1a1a1a !important;
    --text-color: #ffffff !important;
    --additional-text-color: #1a1a1a !important;
}

.dropdown-header {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: var(--eco-background);
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.elementor-1070 .elementor-element.elementor-element-7696ae0:not(.elementor-motion-effects-element-type-background),
.elementor-1070 .elementor-element.elementor-element-7696ae0 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: var(--widget-background-color) !important;
    transition: background-color 0.3s ease;
}

.elementor-widget-text-editor,
.elementor-heading-title,
.elementor-widget-container p,
.elementor-heading-title.elementor-size-default { 
    color: var(--text-color);
    transition: color 0.3s ease; 
}

.additional-text {
    color: var(--additional-text-color);
    transition: color 0.3s ease;
}

.dark-mode .elementor-element-f41b7a8 .elementor-heading-title {
    color: white !important;
}

.dark-mode .elementor-element-db2b961 .elementor-heading-title,
.dark-mode .elementor-element-521b659 .elementor-heading-title {
    color: white !important;
}

.dark-mode .elementor-element-65e144d .elementor-icon-list-text {
    color: white !important;
}


.elementor-1070 .elementor-element.elementor-element-d34a5bf {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.25);
    background-blend-mode: multiply;
}

.dark-mode .elementor-1070 .elementor-element.elementor-element-d34a5bf {
    background-color: rgba(0, 0, 0, 0.75) !important;
}

.dark-mode .elementor-element.elementor-element-842dbd1 {
    background-color: #265750 !important;
}

.elementor-element.elementor-element-842dbd1 {
    background-color: #265750 !important;
}

.dark-mode .elementor-element.elementor-element-c149cb5 {
    background-color: #1a1a1a !important;
}

.dark-mode .elementor-element.elementor-element-78f1c30 {
    background-color: #1a1a1a !important;
}

.dark-mode .elementor-element.elementor-element-432ec20 {
    background-color: #1a1a1a !important;
}

.dark-mode .elementor-element-8888824 {
    background-color: #1a1a1a !important;
}

.elementor-element-e0c55b2 .elementor-widget-container p {
    color: white !important;
}

.elementor-element-b0c2232 .elementor-shortcode {
    color: white !important;
}

.dark-mode .elementor-element-56458df .elementor-heading-title {
    color: white !important;
}

.dark-mode .elementor-icon-list-text {
    color: white !important;
}

.dark-mode .elementor-icon-list-item a:hover .elementor-icon-list-text {
    color: #45AB21 !important;
}

.dark-mode .elementor-element-bb02a14 .elementor-heading-title {
    color: white !important;
}

.dark-mode .elementor-element-7ebda1e .elementor-icon-list-text {
    color: white !important;
}

.dark-mode .elementor-element-7ebda1e .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: #45AB21 !important;
}
.dark-mode .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: #45AB21 !important;
}